@import url('./../../../assets/_variables.css');

.create {
	padding: 2rem 10rem;
}

.heading {
	color: var(--black-color);
	font-family: var(--semibold);
	font-size: 1rem;
	text-align: center;
}

.form {
	border-radius: 0.7rem;
	justify-content: center;
	padding: 1rem 5rem;
}


@media only screen and (max-width: 767px) {
	.create {
		padding: 2rem 2rem;
	}
	.form {
		padding: 1rem 1rem;
	}
}

@media only screen and (max-width: 567px) {
	.create {
		padding: 2rem 1rem;
	}
	.form {
		padding: 1rem 1rem;
	}
}