@import url('./../../../assets/_variables.css');

.noteCard {
	border-radius: 0.7rem;
	font-family: var(--semibold);
	font-size: 1rem;
	padding: 1rem;
	box-shadow: 0px 2px 12px 2px var(--dark-color);
}

.element {
	padding: 0.6rem 1rem;
	border-bottom: 1px solid var(--dark-color);
}

.element__action {
	display: flex;
	justify-content: space-between;
	padding: 0.2rem 1rem;
	padding-top: 1rem;
}

.element__dates {
	display: flex;
	justify-content: space-between;
	padding: 0.4rem 1rem;
	padding-bottom: 0.2rem;
}

@media only screen and (max-width: 767px) {
	.element__dates	{
		display: inline-block;
	}
}