@import url('./../../../assets/_variables.css');

.inputBox {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}


@media only screen and (max-width: 567px) {
	.inputBox {
		display: grid;
		justify-content: space-between;
		align-items: baseline;
	}
}